<br  />

<div class="booyah-box col-xs-12">
  <h1>Add a New Oven Log Entry</h1>
  <br  />
  <%= simple_form_for @oven_log, url: oven_logs_path do |f| %>

  <table class="table new-log text-center">
    <td><%= f.input :customer%></td>
    <td><%= f.input :work_order, label: 'Work Order'%></td>
    <td><%= f.input :purchase_order, label: 'Purchase Order'%></td>
    <td><%= f.input :operator, label: 'Operator'                                               %></td>
  </table>

  <table class="table new-log text-center">
    <td><%= f.input :stress_in, :include_blank => true, as: :datetime_picker, label: 'Stress in (DD/MM/YY)' %></td>

    <td><%= f.input :stress_out, :include_blank => true, label: 'Stress out        (DD/MM/YY)', as: :datetime_picker          %></td>
    <td><%= f.input :stress_asset, :include_blank => true, label: 'Stress Asset'               %></td>
    <td><%= f.input :her_in, :include_blank => true, label: 'HER in   (DD/MM/YY)', as: :datetime_picker %></td>
    <td><%= f.input :her_out, :include_blank => true, label: 'HER out   (DD/MM/YY)', as: :datetime_picker %></td>
    <td><%= f.input :her_asset, label: 'HER Asset'          %></td>
  </table>
  <table>

  <table>
    <%= f.submit "Submit", class: 'btn btn-info'                  %>
    </table

    <% end %>
  </table>
</div>
