<div class="booyah-box">
  <table class="table a">
    <tr class="active">
      <td>Customer: <%= @oven_log.customer %></td>
      <td>Work Order: <%= @oven_log.work_order %></td>
      <td>Purchase Order: <%= @oven_log.purchase_order %></td>
    </tr>

    <tr class="default">
      <td>Stress in: <%= @oven_log.stress_in %></td>
      <td>Stress out: <%= @oven_log.stress_out %></td>
      <td>Asset: <%= @oven_log.stress_asset %></td>
    </tr>
    <tr class="active">
      <td>HER in: <%= @oven_log.her_in %></td>
      <td>HER out: <%= @oven_log.her_out %></td>
      <td>Asset: <%= @oven_log.her_asset %></td>
    </tr>
    <tr class="default">
      <td>Operator: <%= @oven_log.operator %></td>
    </tr>
  </table>
</div>
