<div class="booyah-box a">

  <ul>Customer: <%= @oven_log.customer %></ul>
  <ul>Work Order: <%= @oven_log.work_order %></ul>
  <ul>Purchase Order: <%= @oven_log.purchase_order %></ul>
  <ul>Stress in: <%= @oven_log.stress_in %></ul>
  <ul>Stress out: <%= @oven_log.stress_out %></ul>
  <ul>Asset: <%= @oven_log.stress_asset %></ul>
  <ul>HER in: <%= @oven_log.her_in %></ul>
  <ul>HER out: <%= @oven_log.her_out %></ul>
  <ul>Asset: <%= @oven_log.her_asset %></ul>
  <ul>Operator: <%= @oven_log.operator %></ul>
  
</div>
